# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# TensorFlow
*.h5

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Model cache
.cache/

# Python cache
.pytest_cache/

# Build
build/
dist/

# Secrets
.env